# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenvs
.venv/
venv/

# IDEs
.idea/
.vscode/

# Generated outputs
*.svg
*.zip

# OS junk
.DS_Store
Thumbs.db

# Qt settings written by the app live under ~/.config, not here.
tests/eyetest-results/
